{{#each this}}
<li class="country-list__item">
  <img class="country-list__image" src="{{this.flags.svg}}" alt="Flag of {{this.name.official}}">
  <p class="country-list__name">{{this.name.official}}</p>
</li>
{{/each}}